#192.168.1.104 ip del host no poner "localhost"
CLAIR_BACKEND_BASE_URL=http://192.168.1.104:8080

# Google OAuth (public client id used to request idToken)
GOOGLE_OAUTH_WEB_CLIENT_ID=12345-test.apps.googleusercontent.com
